## EXCERCISES

### FOR LOOP

In [1]:
#1.2 Print the numbers which are multiple of 7 from 1 to 1000.
    #- Expected Output: 7,14,21,28,35,42,49,56,63,70,77,84,91,98...

In [13]:
#method1
for number in range(1,1000):
    mult = 7*number
    if mult>1000:
        break
    else:
        print(mult)

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994

In [49]:
number = 1

In [50]:
while(number!=1000):
    mult = number*7
    if mult>1000:
        break
    else:
        print(mult)
    number =number+1

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994

In [54]:
n = 100
print(n*(n+1)/2)

5050.0

In [57]:
#1+2+3+4+5.....100
#method1 --- formula = n(n+1)/2
for n in range(0,101):
    sum1 = n*(n+1)/2
    if n==100:
        print(sum1)

5050.0

In [58]:
##method2 --- directly adding the numbers

In [68]:
sum1 = 1+2+3+4+5+6+7+8+9+10

In [69]:
sum1

55

In [84]:
t_sum = 0

In [85]:
for i in range(1,101):
    t_sum = t_sum+i
    print(i,t_sum)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050

In [86]:
t_sum

5050