## For Loop

In [1]:
#for item in list_of_items:
    #print(item)
    #or do something

In [2]:
for item in range(0,10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [4]:
list1 =['a','b','c','d','e']
dict1 = {'f':1,'g':2,'h':3}

In [5]:
for item in list1:
    print(item)

a
b
c
d
e

In [6]:
for item in dict1:
    print(item)

f
g
h

In [7]:
for item in dict1.values():
    print(item)

1
2
3

In [8]:
for i,j in dict1.items():
    print('keys',i)
    print('values',j)

keys f
values 1
keys g
values 2
keys h
values 3

In [9]:
# we want to print all the odd numbers between 1 and 100

In [12]:
#n = 0,1,2,3,4,------

In [14]:
# formula= 2n+1

print(2*0+1 ,"first odd number")
print(2*1+1 ,"second odd number")

1 first odd number
3 second odd number

In [20]:
#numerator/denominator = quotient(decimal)
#numerator//denominator = quotient(wholenumber)
#numerator%denominator = remainder

In [25]:
10/3

3.3333333333333335

In [26]:
10//3

3

In [27]:
10%3

1

In [16]:
for item in range(0,50):
    print(2*item+1)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
#find all the numbers which are divisible by 3 within 1 to 100

In [29]:
for number in range(0,100):
    if number%3 == 0:
        print(number,' this is divisible by 3')
#     else:
#         print(number, ' this is not divisble by 3')

0  this is divisible by 3
3  this is divisible by 3
6  this is divisible by 3
9  this is divisible by 3
12  this is divisible by 3
15  this is divisible by 3
18  this is divisible by 3
21  this is divisible by 3
24  this is divisible by 3
27  this is divisible by 3
30  this is divisible by 3
33  this is divisible by 3
36  this is divisible by 3
39  this is divisible by 3
42  this is divisible by 3
45  this is divisible by 3
48  this is divisible by 3
51  this is divisible by 3
54  this is divisible by 3
57  this is divisible by 3
60  this is divisible by 3
63  this is divisible by 3
66  this is divisible by 3
69  this is divisible by 3
72  this is divisible by 3
75  this is divisible by 3
78  this is divisible by 3
81  this is divisible by 3
84  this is divisible by 3
87  this is divisible by 3
90  this is divisible by 3
93  this is divisible by 3
96  this is divisible by 3
99  this is divisible by 3

## While Loop

In [53]:
#syntax
# while(condition is True):
#    print(item)

In [63]:
condition = True
t = 0

In [64]:
while(condition):
    print(t)
    t = t+1
    if t==100:
        condition = False

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [71]:
#2n+1 formula for odd number
n = 0 #starting from zero
#conditon = (n!=50)

In [72]:
# we want to print all the odd numbers between 1 and 100
while(n!=50):
    print('old n:',n)
    print('odd number',2*n+1)
    n = n+1
    print('new n:',n,'\n')

old n: 0
odd number 1
new n: 1

old n: 1
odd number 3
new n: 2

old n: 2
odd number 5
new n: 3

old n: 3
odd number 7
new n: 4

old n: 4
odd number 9
new n: 5

old n: 5
odd number 11
new n: 6

old n: 6
odd number 13
new n: 7

old n: 7
odd number 15
new n: 8

old n: 8
odd number 17
new n: 9

old n: 9
odd number 19
new n: 10

old n: 10
odd number 21
new n: 11

old n: 11
odd number 23
new n: 12

old n: 12
odd number 25
new n: 13

old n: 13
odd number 27
new n: 14

old n: 14
odd number 29
new n: 15

old n: 15
odd number 31
new n: 16

old n: 16
odd number 33
new n: 17

old n: 17
odd number 35
new n: 18

old n: 18
odd number 37
new n: 19

old n: 19
odd number 39
new n: 20

old n: 20
odd number 41
new n: 21

old n: 21
odd number 43
new n: 22

old n: 22
odd number 45
new n: 23

old n: 23
odd number 47
new n: 24

old n: 24
odd number 49
new n: 25

old n: 25
odd number 51
new n: 26

old n: 26
odd number 53
new n: 27

old n: 27
odd number 55
new n: 28

old n: 28
odd number 57
new n: 29

old n: 29
odd number 59
new n: 30

old n: 30
odd number 61
new n: 31

old n: 31
odd number 63
new n: 32

old n: 32
odd number 65
new n: 33

old n: 33
odd number 67
new n: 34

old n: 34
odd number 69
new n: 35

old n: 35
odd number 71
new n: 36

old n: 36
odd number 73
new n: 37

old n: 37
odd number 75
new n: 38

old n: 38
odd number 77
new n: 39

old n: 39
odd number 79
new n: 40

old n: 40
odd number 81
new n: 41

old n: 41
odd number 83
new n: 42

old n: 42
odd number 85
new n: 43

old n: 43
odd number 87
new n: 44

old n: 44
odd number 89
new n: 45

old n: 45
odd number 91
new n: 46

old n: 46
odd number 93
new n: 47

old n: 47
odd number 95
new n: 48

old n: 48
odd number 97
new n: 49

old n: 49
odd number 99
new n: 50

In [74]:
n!=50

False

In [ ]:
#find all the numbers which are divisible by 3 within 1 to 100